* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
 body {
     font-family: Arial;
     /* margin: 20px; */
     background-color: #CFBAF0;
     font-family: rokkitt, serif;
    font-weight: 100;
    font-style: normal;
 }

 .cover {
    transform: scale(-0.6);
 }

 .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
     /* display: flex;
     flex-direction: row;
     flex-wrap: wrap;
    outline: 1px solid red;
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -webkit-flex;
     display: flex;
     -webkit-flex-flow: row wrap;
     justify-content: space-between;
     align-items: stretch;
     align-content: stretch; */
 }

 .responsive {
    max-width: 100%;
    height: auto;
  }

  .myButton {
    box-shadow: -2px 19px 28px -2px #3a8f9c;
	background:linear-gradient(to bottom, #6bd8ff 5%, #8a578a 100%);
	background-color:#6bd8ff;
	border-radius:42px;
	border:6px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:17px 47px;
	text-decoration:none;
  }

.myButton:hover {
	background:linear-gradient(to bottom, #8a578a 5%, #6bd8ff 100%);
	background-color:#8a578a;
}
.myButton:active {
	position:relative;
	top:1px;
}

  ul li {
      display: inline-block;
      flex-direction: row;
  }

  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    padding: 10px 2px;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    opacity: 0.75;
    position: relative;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #141414;
    text-align: left;
    line-height: 1.4em;
    font-size: 14px;
    box-shadow: none !important;
}
/* 
.container {
    display: flex;
   flex-direction: row;
} */

a:link {
    text-decoration: none;
  }
  a:link {
    color: #F72585;
  }
  
  a:visited {
    color: #B5179E;
  }

figcaption {
    width: 100%;
    background-color: #333333;
    color: #fff;
    padding: 25px;
    display: inline-block;
    margin-bottom: 15px;
    border-radius: 25px;
    position: relative;
  }

  figcaption:after {
    position: absolute;
    left: 32px;
    top: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #333333 transparent transparent transparent;
  }

  
  .card h3 {
    font-weight: 600;
    font-size: 1.2em;
    font-family: 'Montserrat', Arial, sans-serif;
  }
  
  .card h4 {
    color: #8c8c8c;
    font-weight: 400;
    letter-spacing: 2px;
  }
  
  .card p {
    font-size: 0.9em;
    letter-spacing: 1px;
    opacity: 0.9;
  }
  
  .card i {
    padding: 10px 2px;
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    color: #ffffff;
    opacity: 0.75;
  }
  
 

 .back-arrow{
     font-size: 50px;
     margin: 0px 0px 0px 40px;
     list-style: none;
     text-decoration: none;
 }

 a:back-arrow {
    list-style: none;
    text-decoration: none;
 }

 .column{
     margin: 35px;
     width: 180px;
     text-align: justify;
     text-justify: inter-word;
 }

 .divider {
    border: 0;
    border-top: 1px dashed rgb(5, 5, 5);
    border-bottom: 2px solid rgb(8, 8, 8);
    height: 3px;
 }

 header {
     text-align: center;
     position: absolute;
     color:aliceblue;
     z-index: 5;
     font-size: 50px;
 }

.portrait {
    max-width: 100%;
    padding: 0px;
    height: 350px;
    object-fit:fill;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    
}

 section {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
    background-color: #F8EDEB;
    margin: 40px;
}

.section-header {
    transform: uppercase;
    font-size: 35px;
    font-weight: 300;
}

.main-section-header {
    transform: uppercase;
    font-size: 50px;
    font-weight: 300;
}

.paragraph {
    padding: 0px;
    /* margin: 0px; */
}

@media (max-width: 1000px) {
    section{
        padding: 100px 0px;
    }
}

@media (max-width: 600px) {
    section{
        padding: 125px 30px;
    }
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}


 ul.about-content {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex; 
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.about-content li{
    padding: 20px;
    height: 350px;
    background-clip: content-box;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.about {
    flex-basis: 100%;
    background-image: url(../../images/mountain.jpeg);  
}

.about-left{
    flex-basis: 50%;
    background-image: url(../../images/mountain.jpeg);
}

.about-right{
    flex-basis: 50%;
    background-image: url(../../images/mountain.jpeg);
}

p {
    text-align: justify;
    width: 100%;
}

.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin: 0 auto;
    padding: 0;
    z-index: 44;
}