* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 }
 
 body {
     font-family: Arial;
     /* margin: 20px; */
     background-color: #CFBAF0;
     font-family: rokkitt, serif;
    font-weight: 100;
    font-style: normal;
 }

 section {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-direction: column;
    align-items: center;
    padding: 110px 100px;
    background-color: #F8EDEB;
    margin: 40px;
}

.paragraph {
    padding: 0px;
    /* margin: 0px; */
}

@media (max-width: 1000px) {
    section{
        padding: 100px 0px;
    }
}

@media (max-width: 600px) {
    section{
        padding: 125px 30px;
    }
}

section p {
    max-width: 800px;
    text-align: center;
    margin-bottom: 35px;
    padding: 0 20px;
    line-height: 2;
}


 ul.about-content {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex; 
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.about-content li{
    padding: 20px;
    height: 350px;
    background-clip: content-box;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.about {
    flex-basis: 100%;
    background-image: url(../../images/mountain.jpeg);  
}

.about-left{
    flex-basis: 50%;
    background-image: url(../../images/mountain.jpeg);
}

.about-right{
    flex-basis: 50%;
    background-image: url(../../images/mountain.jpeg);
}

p {
    text-align: justify;
    width: 100%;
}

.section-title{
    text-transform: uppercase;
    font-size: 50px;
    margin: 0 auto;
    padding: 0;
}